<div class="content">
    <h1>Publicar novo comentario</h1>
    <div>
        <div class="col-9 formPost formTtl" *ngIf="userName == 'adminMaster'">
            <label for="idUsuario"> Id do Usuario <strong style="color:brown; display: inline-block;">*</strong></label><br>
            <input type="number" id="idUsuario" [(ngModel)]="comentario.usuario.idUsuario">
        </div>
        <div class="col-3 formPost formDt">
            <label for="idPostagem">Id do Post</label>
            <input type="number" id="idPostagem" [(ngModel)]="comentario.post.idPostagem">
        </div>
        <div class="col-3 formPost formDt">
            <label for="textoComentario">Texto comentario</label>
            <input type="text" id="textoComentario" [(ngModel)]="comentario.texto">
        </div>
        <div class="row">
        
        </div>

        <div>
            <button id="postBotao" class="botaobuscar enviar" (click)="inserir()">Postar</button>
        </div>
    </div>
</div>

