.content {
    width: 80%;
    margin: 2em auto;
}

.opcao2 {
    text-align: center;
    border-left: rgb(215, 207, 230) 2px solid;
}

.contatos {
    width: 20px;
}

textarea {
    min-height: 150px;
    max-height: 250px;
}

.itencontato {
    display: inline-block;
    margin: 0 1rem;
}

.formulario {
    vertical-align: middle
}

h1 {
    display: inherit;
    text-align: center;
    color: orange;
    margin: 1em 0;
}