body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content {
    width: 80%;
    margin: 0 auto;
}

.opcao2 {
    text-align: center
}

.contatos {
    width: 20px;
}

.itencontato {
    display: inline-block;
    margin: 0 1rem;
}