<div>
    <h1>Lista de Comentários</h1>
    <div *ngFor="let item of comentario" >
        <div *ngIf="item?.usuario?.idUsuario == userId || userName == 'adminMaster'">
            <div class="card">
                <p>Comentario: {{item.texto}}</p>
                <p>Autor: {{item.usuario?.nome}}</p>
                <p>Projeto: {{item.post?.titulo}}</p>
                <div class="botoesAlteracoes">
                        <button class="col-6" [routerLink]="['/homeusuario/comentarioUpdate', item.idComentario]">Alterar</button>
                        <button class="col-6" [routerLink]="['/homeusuario/comentarioDelete', item.idComentario]">Deletar</button>
                    </div>
            </div>
        </div>
    </div>
</div>