<div>
    <br>
    <br>
    <input id="txtComunidade" type="text" [(ngModel)]="id" placeholder="Informe o Id desejado" *ngIf="userName == 'adminMaster'" />
    <button id="btnPost" class="botaobuscar" (click)="btnClick()">Deletar</button>
    <br><br>
    <div *ngIf="id != null; else elseBlock">
        <h3>Deletar o seguinte usuario?</h3>
        <p>{{usuario?.nome}}</p>
        <p>{{usuario?.email}}</p>
    </div>
    <ng-template #elseBlock>
        <img src="./../../../assets/pesquisa.gif">
    </ng-template>
</div>