.caixa {
    width: 30%;
    margin: 2em auto;
}

.caixa li {
    width: 50%;
    text-align: center;
    font-size: 25px;
}

#home-tab {
    border-bottom: rgb(0, 0, 0, 0.03) 1px solid;
    color: gray;
}

#home-tab:hover {
    color: #7006BC;
}

.nav-item a {
    border-bottom-color: #f7f7f7f7;
}

.nav-link.active {
    background-color: #f7f7f7f7;
    color: orange
}

.centro {
    border: rgb(0, 0, 0, 0.1) solid 1px;
    margin: 0 auto;
    background-color: #f7f7f7f7;
    padding: 2rem;
    padding-bottom: 0;
    border-top: none;
}

.centro img {
    width: 70%;
    margin: 0 15% 2em;
}

.form-control {
    border: rgb(215, 207, 230) 2px solid;
    font-size: 20px;
    color: orange;
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0 1rem;
    border-radius: 20px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
}

#BotaoVerifica {
    margin-bottom: 0;
}

#BotaoConfirma {
    width: 100%;
    border-radius: 10px;
    border: orange 2px solid;
    color: orange;
    background-color: #f4f4f4;
    font-size: 20px;
}

#BotaoConfirma:hover {
    background-color: orange;
    color: white;
    border-color: orange;
}

#BotaoConfirma:focus {
    outline: none;
    box-shadow: none;
    ;
}