h1{
    color: #ffffff;
    font-size: 4em;
    font-family: 'Noticia Text', serif;
}

.bemVindo {
    margin:0 auto 2em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: #7006BC;
}

.bemVindo p {
    padding: 0 0 1rem;
    font-size: 2em;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    color: #c583f3;
    text-align: justify;

}

h2{
    color: orange;
    font-family: 'Noticia Text', serif;
    font-size: 3em;
}

h5{
    color: orange;
    font-family: 'Noticia Text', serif;
    font-size: 40px;
    text-align: center;
    background-color: #490863;
    padding: 1rem 0;
    margin: 2rem 0;
}

h3 {
    color: #490863;
    font-family: 'Noticia Text', serif;
}

.imgpassos {
    max-width: 25%;
}



.content {
    display: inline-block;
    width: 70%;
    font-size: 24px;
    vertical-align: middle
}


#help{
    font-size: 15px
}

.experiencias {
    height: 20%;
}

.carousel-control-next:hover, .carousel-control-prev:hover{
    background-color: black
}

.carousel-control-next:active, .carousel-control-prev:active{
    background-color: orange
}

.carousel-inner, .porOndeComecar { 
    width: 85%;
    margin: 0 auto 2em;

}



