h1 {
    color: #ffffff;
    font-size: 4em;
    font-family: 'Noticia Text', serif;
}

.bemVindo {
    background-color: #7006BC;
    height: 25rem;
}

.bemVindo p {
    padding: 0 0 1rem;
    font-size: 2em;
    color: #c583f3;
    text-align: justify;
}

h2 {
    color: orange;
    font-family: 'Noticia Text', serif;
    font-size: 3em;
}

.fundottl {
    background-image: linear-gradient(#ffffff, #ffffff 78%, #7006BC 78%, #7006BC 93%, #ffffff 93%, #ffffff);
    border-bottom: orange solid .3rem;
    margin: 4em 0;
}

h5 {
    color: #7006BC;
    font-family: 'Noticia Text', serif;
    font-size: 45px;
    text-align: center;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 18em;
    padding: 0 1%;
    margin-bottom: .2rem;
}

h3 {
    color: #7006BC;
    font-family: 'Noticia Text', serif;
}

.imgpassos {
    max-width: 25%;
}

.content {
    display: inline-block;
    width: 70%;
    font-size: 24px;
    vertical-align: middle
}

#help {
    font-size: 15px
}

.experiencias {
    height: 20%;
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
    background-color: transparent
}

.carousel-control-next:active,
.carousel-control-prev:active {
    background-color: transparent
}

.carousel-inner {
    height: 20%;
}

.porOndeComecar {
    width: 85%;
    margin: 0 auto 2em;
}

#ThumbnailCarousel img {
    width: 100%;
}

#ThumbnailCarousel div {
    width: 100%;
}

#ThumbnailCarousel.carousel {
    padding-top: 30px;
    text-align: center;
}

#ThumbnailCarousel .carousel-control-prev:hover,
#ThumbnailCarousel .carousel-control-next:hover {
    background-color: transparent;
    cursor: pointer;
}

#ThumbnailCarousel .carousel-control-prev,
#ThumbnailCarousel .carousel-control-next {
    width: 4%;
    margin: 6%;
    height: 20%;
}

#ThumbnailCarousel p {
    vertical-align: middle;
}

#ThumbnailCarousel .carousel-inner {
    width: 80%;
    margin: 0 auto;
}

.botoesControle {
    position: absolute;
    color: black;
    font-size: 40px;
}

.botoesControle:hover {
    background-color: none;
    color: orange
}

.row {
    margin: 0;
}

.carrissel-grande .carousel-item {
    height: 25rem;
}

.imagem2 img {
    /* height: 25rem; */
    display: inline-block;
    margin-top: 1.5%;
}

.imagem2 .texto {
    display: inline-block;
    vertical-align: middle;
}

.imagem3 img {
    /* vertical-align: middle; */
}

.conteudo {
    width: 90%;
    margin: 0 auto;
}

.imagem2 h2 {
    font-size: 28px;
    color: rgb(183, 228, 241);
    text-align: justify;
}

.imagem2 h3 {
    font-size: 35px;
    text-align: center;
    color: rgb(250, 212, 43);
}

.imagem2 {
    background-color: #1595BC;
    height: 25rem;
}

.imagem3 h2 {
    color: rgb(183, 233, 233);
}

.imagem3 h3 {
    color: rgb(15, 100, 100);
}

.imagem3 {
    text-align: center;
    background-color: #2DBFC0;
}