<!--Carrossel grande-->

<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner carrissel-grande">
        <div class="carousel-item active">
            <!-- <div class="bemVindo">
                <div class="row" style="width: 80%; margin: auto; padding: 1em 0;">
                    <div class="col-7">
                        <h1>Bem vindx à Id.a</h1>
                        <p>Nossa missão é te ajudar a dar vida ao seu projeto.</p>
                        <h2>Tem alguma ideia?</h2>
                        <input class="btn botaobuscarbranco" type="button" value="Junte-se a nós">
                    </div>
                    <div class="col-5">
                        <img src="./../../../assets/meta.png" alt="" width="85%">
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item"> -->
            <div class="imagem2">
                <img src="./../../../assets/empreender-carrossel2.png" alt="">
                <div class="col-5 texto">
                    <h1>Conecte-se</h1>

                </div>

            </div>
        </div>
        <!-- <div class="carousel-item">
            <div class="imagem3">
                <img src="./../../../assets/menteAberta-carrossel3.png" alt="">

            </div>
        </div> -->

        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<!-- carrossel pequeno -->


<div id="ThumbnailCarousel" class="carousel slide col-xs-12" data-ride="carousel" data-intervall="false">
    <div class="row">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="row">
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/500x500" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="row ajuste">
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/500x500" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                    <div class="col-2">
                        <a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-fluid img-thumbnail"></a>
                    </div>
                </div>
            </div>
        </div>
        <p class="carousel-control-prev botoesControle" href="#ThumbnailCarousel" role="button" data-slide="prev">
            ⯇
        </p>
        <p class="carousel-control-next botoesControle" href="#ThumbnailCarousel" role="button" data-slide="next">⯈
        </p>
    </div>
</div>

<!--Cardes por onde comecar-->

<div class="fundottl">
    <h5>Por onde começar?</h5>
</div>
<div class="porOndeComecar">
    <div class="content col-10">
        <h3>Tenha uma ideia</h3>
        <p>Comece pensando no que quer fazer. Boas ideias só geram bons projetos se tiverem um bom planejamento, por isso não poupe esforços!</p>
    </div>
    <img class="imgpassos col-2" src="./../../../assets/passo1.png">

    <hr>
    <img class="imgpassos col-2" src="./../../../assets/passo2.png">
    <div class="content col-10">
        <h3>Junte-se à comunidade</h3>
        <p>Tudo pronto? Hora de criar uma conta!​</p>
        <input class="btn btn-outline-success my-2 my-sm-0 botaobuscar" type="button" value="Junte-se a nós">
    </div>

    <hr>
    <div class="content col-10">
        <h3>Crie um projeto</h3>
        <p>Hora de por a mão na massa. Conte-nos tudo o que precisamos saber para lhe ajudar.</p>
        <p id="help">Precisa de ajuda? Acesse Nosso Guia para novos projetos!</p>
    </div>
    <img class="imgpassos col-2" src="./../../../assets/passo3.png">

    <hr>

    <img class="imgpassos col-2" src="./../../../assets/passo4.png">
    <div class="content col-10">
        <h3>Encontre colaboradores</h3>
        <p>Tudo pronto para começarmos, procure por outros usuários com as habilidades que você precisa.</p>
    </div>

    <hr>
</div>