<body>
    <br>

    <div class="container-fluid text-center">
        <div class="row content">
            <div class=" conteudo">
                <div class="text-left">
                    <h1>Sobre Id.a</h1>
                    <p class="sobreid">A Id.a é uma rede de compartilhamento de habilidades que visa conectar pessoas cujo o objetivo é realizar projetos dos mais diversos temas. Funciona da seguinte forma, o usuário X precisa realizar determinada tarefa, porém não possui
                        renda para financiar, ele posta a sua necessidade e quais habilidades ele possui que possa trocar pelo serviço buscado, então, o usuário Y tem as habilidades necessárias para realizar a tarefa e se interessa pela habilidade do
                        usuário X, então os mesmos se conectam e trocam suas experiências.</p>
                </div>
                <br>
                <br>
            </div>
            <div class="backgroundttl">
                <h5>Nossa Equipe</h5>
            </div>
            <br>
            <div class=" conteudo">
                <div class="media mb-3 card no-gutters row">

                    <img src="./../../../assets/erika1.jpg" class="card-img col-2" alt="Foto da Erika">
                    <span class="footerimagem col-2">
                        <img src="./../../../assets/linkedin.png" alt="link do linkedin"
                            onclick='window.open("https://www.linkedin.com/in/erika-roque/;")'>
                        <img src="./../../../assets/github.png" alt="link do github">
                    </span>

                    <div class="card-body col-10">
                        <h3 class="card-title">Erika Roque da Silva</h3>
                        <hr>
                        <p class="card-text">23 anos, desenvolvedora web java, recém-formada pela Generation Brasil, sempre em busca de novos desafios, responsável pelo banco de dados do projeto Id.a.</p>
                    </div>

                </div>

                <div class="media mb-3 card row no-gutters">

                    <img src="./../../../assets/fernanda.jpg" class="card-img col-2" alt="Foto da Fernanda">
                    <span class="footerimagem col-2">
                        <img src="./../../../assets/linkedin.png" alt="link do linkedin"
                            onclick='window.open("https://www.linkedin.com/in/fernanda-francia-878919159/")'>
                        <img src="./../../../assets/github.png" alt="link do github">
                    </span>

                    <div class="card-body col-10">
                        <h3 class="card-title">Fernanda Francia de Souza Carvalho</h3>
                        <hr>
                        <p class="card-text">21 anos, Desenvolvedora Java Full Stack formada recentemente pela Generation Brasil, idealizadora do projeto Id.a e responsável pelo front-end da Id.a e design da rede.</p>
                    </div>
                </div>

                <div class="media mb-3 card row no-gutters">
                    <img src="./../../../assets/henrique.jpg" class="card-img col-2" alt="Foto do Henrique">
                    <span class="footerimagem col-2">
                        <img src="./../../../assets/linkedin.png" alt="link do linkedin"
                            onclick='window.open("https://www.linkedin.com/in/henriqueosantos/")'>
                        <img src="./../../../assets/github.png" alt="link do github">
                    </span>
                    <div class="card-body col-10">
                        <h3 class="card-title">Henrique Oliveira dos Santos</h3>

                        <hr>
                        <p class="card-text"> 22 anos, desenvolvedor Java Full Stack formado pela Generation Brasil, sempre em busca de novos conhecimentos. Responsável pela refatoração e revisão de código tanto back como front.</p>
                    </div>
                </div>

                <div class="media mb-3 card row no-gutters">

                    <img src="./../../../assets/luciano.jpg" class="card-img col-2" alt="Foto do Luciano">
                    <span class="footerimagem col-2">
                        <img src="./../../../assets/linkedin.png" alt="link do linkedin"
                            onclick='window.open("https://www.linkedin.com/in/lucianohdonato/;")'>
                        <img src="./../../../assets/github.png" alt="link do github">
                    </span>
                    <div class="card-body col-10 ">
                        <h3 class="card-title">Luciano Henrique Donato</h3>
                        <hr>
                        <p class="card-text">24 anos, engenheiro mecânico e Desenvolvedor web java, recém formado na Generation Brasil. Cursando Analise e Desenvolvimento de Sistemas e responsável pelo back-end do projeto Id.a.</p>
                    </div>
                </div>
                <br>
            </div>

        </div>
    </div>

    <br><br><br>

</body>