<body>
    <br>

    <div class="container-fluid text-center">
        <div class="row content">
            
            <div class="col-md-10 text-left">
                <h1>Sobre Id.a</h1>
                <p class="sobreid">A Id.a é uma rede de compartilhamento de habilidades que visa conectar pessoas cujo o
                    objetivo é realizar projetos dos mais diversos temas.
                    Funciona da seguinte forma, o usuário X precisa realizar determinada tarefa, porém não possui renda
                    para financiar, ele posta a sua necessidade e quais habilidades ele possui que possa trocar pelo
                    serviço buscado, então, o usuário Y tem as habilidades necessárias para realizar a tarefa e se
                    interessa pela habilidade do usuário X, então os mesmos se conectam e trocam suas experiências.</p>
                <br>
                <hr><br> 
                <h1>Perfis da Equipe</h1>
                <br>
                <div class="media mouse"  onclick='window.open("https://www.linkedin.com/in/erika-roque/;")' style="align-content: center">
                    <img src="./../../../assets/erika.jpg" class="align-self-center mr-3" alt="Foto da Erika">
                    <div class="media-body">
                        <h3 class="mt-0">Erika Roque da Silva</h3>
                        <p>Tenho 23 anos, sou desenvolvedora java Full Stack, recém-formada na
                            2° turma da Generation Brasil, sempre em busca de novos desafios, atualmente sou responsável
                            por todo o banco de dados do projeto Id.a onde estou conseguindo colocar em prática os meus
                            conhecimentos adquiridos na área.</p>
                    </div>
                </div>
                <div class="media mouse" onclick='window.open("https://www.linkedin.com/in/fernanda-francia-878919159/")' style="align-content: center">
                    <img src="./../../../assets/fernanda.jpg" class="align-self-center mr-3" alt="Foto da Fernanda">
                    <div class="media-body">
                        <h3 class="mt-0">Fernanda Carvalho</h3>
                        <p>21 anos, Desenvolvedora Java Full Stack formada recentemente pela
                            Generation Brasil, idealizadora do projeto Id.a e responsável pelo front-end da Id.a e
                            design da rede.</p>
                    </div>
                </div>
                <div class="media mouse" onclick='window.open("https://www.linkedin.com/in/henriqueosantos/")' style="align-content: center">
                    <img src="./../../../assets/henrique.png" class="align-self-center mr-3" alt="Foto do Henrique">
                    <div class="media-body">
                        <h3 class="mt-0">Henrique Oliveira dos Santos</h3>
                        <p>Sou Desenvolvedor Java Full Stack formado pelo Generation Brasil,
                            tenho 21 anos e estou sempre em busca de novos conhecimentos. Quando soube do projeto da
                            Id.a me identifiquei imediatamente e cai de cabeça, sou responsável pela refatoração e
                            revisão de código tanto back como front.</p>
                    </div>
                </div>
                <div class="media mouse" onclick='window.open("https://www.linkedin.com/in/lucianohdonato/;")' style="align-content: center">
                    <img src="./../../../assets/luciano1.png" class="align-self-center mr-3" alt="Foto do Luciano">
                    <div class="media-body">
                        <h3 class="mt-0">Luciano Henrique Donato</h3>
                        <p>Engenheiro mecânico, 24 anos. Cursando Analise e Desenvolvimento de
                            Sistemas e recem formado no projeto da Generation e buscando resolver problemas.
                            Desenvolvedor Java Full Stack responsável pelo back-end do projeto Id.a.</p>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-md-2 sidenav">
                <div class="well">
                    <figure>
                        <img src="./../../../assets/handshake.gif" alt="Imagem cumprimento de mãos." style="width: 100%">
                    </figure>
                </div>
                <div class="well">
                    <figure>
                        <img src="./../../../assets/lampada.gif" alt="Imagens de lâmpada" style="width: 100%">
                    </figure>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

</body>