<body>
    <div class="container-fluid text-center">
        <hr class="separacao">
        <div class="row content">
            <!-- <h1>O que é a Id.a?</h1> -->
            <div class="fundo">
                <div class=" conteudo">
                    <p class="sobreid">Somos uma rede social para mentes criativas.</p>
                    <p>A Id.a é uma rede social que tem como objetivo unir profissionais para a realização de projetos com pouco ou nenhum investimento. Nossa missão não é conseguir investidoes, mas colaboradores para ajudar na produção de projetos independentes.
                    </p>
                </div>
            </div>
            <div class="backgroundttl">
                <h5>Nossa Equipe</h5>
            </div>

            <div class=" conteudo">
                <div class="media mb-3 card no-gutters row">

                    <img src="./../../../assets/erika1.jpg" class="card-img col-2" alt="Foto da Erika">
                    <span class="footerimagem col-2">
                        <img src="./../../../assets/linkedin.png" alt="link do linkedin"
                            onclick='window.open("https://www.linkedin.com/in/erika-roque/;")'>
                        <img src="./../../../assets/github.png" alt="link do github">
                    </span>

                    <div class="card-body col-10">
                        <h3 class="card-title">Erika Roque da Silva</h3>
                        <hr>
                        <p class="card-text">23 anos, desenvolvedora web java, recém-formada pela Generation Brasil, sempre em busca de novos desafios, responsável pelo banco de dados do projeto Id.a.</p>
                    </div>

                </div>

                <div class="media mb-3 card row no-gutters">

                    <img src="./../../../assets/fernanda.jpg" class="card-img col-2" alt="Foto da Fernanda">
                    <span class="footerimagem col-2">
                        <img src="./../../../assets/linkedin.png" alt="link do linkedin"
                            onclick='window.open("https://www.linkedin.com/in/fernanda-francia-878919159/")'>
                        <img src="./../../../assets/github.png" alt="link do github">
                    </span>

                    <div class="card-body col-10">
                        <h3 class="card-title">Fernanda Francia de Souza Carvalho</h3>
                        <hr>
                        <p class="card-text">21 anos, Desenvolvedora Java Full Stack formada recentemente pela Generation Brasil, idealizadora do projeto Id.a e responsável pelo front-end da Id.a e design da rede.</p>
                    </div>
                </div>

                <div class="media mb-3 card row no-gutters">
                    <img src="./../../../assets/henrique.jpg" class="card-img col-2" alt="Foto do Henrique">
                    <span class="footerimagem col-2">
                        <img src="./../../../assets/linkedin.png" alt="link do linkedin"
                            onclick='window.open("https://www.linkedin.com/in/henriqueosantos/")'>
                        <img src="./../../../assets/github.png" alt="link do github">
                    </span>
                    <div class="card-body col-10">
                        <h3 class="card-title">Henrique Oliveira dos Santos</h3>

                        <hr>
                        <p class="card-text"> 22 anos, desenvolvedor Java Full Stack formado pela Generation Brasil, sempre em busca de novos conhecimentos. Responsável pela refatoração e revisão de código tanto back como front.</p>
                    </div>
                </div>

                <div class="media mb-3 card row no-gutters">

                    <img src="./../../../assets/luciano.jpg" class="card-img col-2" alt="Foto do Luciano">
                    <span class="footerimagem col-2">
                        <img src="./../../../assets/linkedin.png" alt="link do linkedin"
                            onclick='window.open("https://www.linkedin.com/in/lucianohdonato/;")'>
                        <img src="./../../../assets/github.png" alt="link do github">
                    </span>
                    <div class="card-body col-10 ">
                        <h3 class="card-title">Luciano Henrique Donato</h3>
                        <hr>
                        <p class="card-text">24 anos, engenheiro mecânico e Desenvolvedor web java, recém formado na Generation Brasil. Cursando Analise e Desenvolvimento de Sistemas e responsável pelo back-end do projeto Id.a.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>



</body>