<div>
    <br>
    <br>
    <h1>Criar Comunidade</h1>
    <div>
        <div>
            <label for="comunidadeNome">Nome da comunidade</label>
            <input type="text" id="comunidadeNome" [(ngModel)]="comunidade.nome">

        </div>
        <div *ngIf="userName == 'adminMaster'">
            <label for="comunidadeIdUsuario">Insira seu ID</label>
            <input type="text" id="comunidadeIdUsuario" [(ngModel)]="comunidade.usuario.idUsuario">

        </div>
        <div>
            <label for="comunidadeIdCategoria">Insira o ID da Categoria</label>
            <input type="text" id="comunidadeIdCategoria" [(ngModel)]="comunidade.categoria.idCategoria">
        </div>
        <div>
            <button id="postBotao" class="botaobuscar" (click)="inserir()">Criar</button>
        </div>
    </div>

    <br>

    <div>
        <h3> Lista de categorias: </h3>
        <div class="conteudo">
            <div class="card" *ngFor="let item of categoria">
                <div class="card-img-top"> <img src="./../../../../assets/construindo.jpg" alt=""></div>
                <div class="card-body">
                    <p class="card-title">Nome: {{item.nome}}</p>
                    <p>Id: {{item.idCategoria}}</p>
                    <p class="card-text">Descrição: {{item.descricao}}</p>
                </div>

            </div>
        </div>
    </div>

</div>