.caixa {
    width: 30%;
    margin: 2em auto 3em;
}

.caixa li {
    width: 50%;
    text-align: center;
    font-size: 25px;
}

img {
    width: 70%;
    margin: 0 15% 3em;
}

.centro {
    border: rgb(0, 0, 0, 0.1) solid 1px;
    margin: 0 auto;
    background-color: #f7f7f7f7;
    padding: 2rem;
    padding-bottom: 0;
    border-top: none;
}

#erroEmail,
#erroSenha {
    text-align: right;
    font-size: 18px;
    margin: 5px;
    color: rgb(189, 4, 4);
}

.formulario {
    margin-top: 1em;
}

input {
    margin-bottom: 0;
}

.botaobuscar {
    margin: 1em auto 2em;
    width: 100%;
    font-size: 20px;
}

#profile-tab {
    border-bottom: rgb(0, 0, 0, 0.03) 1px solid;
    color: gray;
}

#profile-tab:hover {
    color: orange;
    text-decoration: none;
    ;
}

.nav-item a {
    border-bottom-color: #f7f7f7f7;
}

.nav-link.active {
    background-color: #f7f7f7f7;
    color: #7006BC
}