.conteudo {
    width: 80%;
    margin: 0 auto;

}

.formulario {
    display: inline-block;
}

.texto {
    display: inline-block;
    padding: 3em;
    border: gray solid 1px;
    margin: 3em 0;  
    font-size: 21px;
    text-align: center;
}

h3 {
    color: #6B3EB8;
    font-size: 23px;
}

h2 {
    color: orange;
}

input {
    width: 80%;
    border: none;
    border-bottom: #6B3EB8 2px solid;
    font-size: 20px;
    color: orange;
}

.botaobuscar {
    width: 50%;
    
}


label {
    color: #6B3EB8;
    font-size: 25px;
}

#erroEmail, #erroSenha {
    text-align: right;
    font-size: 18px;
    margin: 5px 20%;
    color: rgb(189, 4, 4);
    font-weight: bold;    

}

.formulario p {
    margin: 3em 0;
    font-size: 14px;
}