.navbar li {
    font-size: 22px;
    margin: 1rem;
    padding: .5rem 0 !important;
    display: inline-block;
}

.navbar-light .navbar-nav .nav-link {
    color: #e2b8ff;
}

.nav-link:hover {
    transform: translate(0, -5px);
    transition-duration: 0.5s;
}

img {
    width: 6rem;
    padding: 1rem;
    display: inline-block;
}

.navbar-brand {
    margin-right: 0;
    margin-right: 1rem;
}

.navTudo {
    background-color: #7006BC;
}

.navbar {
    border-bottom: #7006BC solid 3px;
    height: 3.5rem;
    width: 90%;
    margin: 0 auto;
    background-color: #7006BC;
}

#navlogo {
    width: 10%;
    min-width: 140px;
    position: absolute;
    margin: 0 44.5%;
    top: 10px;
    z-index: 20;
}

.navbar-nav {
    margin: 0 auto;
    width: 90%;
}

.logCad {
    margin: auto 0;
    font-size: 22px;
    color: rgb(0, 0, 0, .5);
    padding: .5rem 0;
    display: inline-block
}

@media (max-width: 1200px) {
    .navbar {
        height: 20%;
    }
}

strong {
    font-weight: normal;
    color: #c583f3;
}

.logCad a {
    display: inline-block;
    margin: 0;
    padding-bottom: 0
}

@media (max-width: 1107px) {
    .nav-link,
    .nav-item,
    .logCad a {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }
    .nav-link:hover,
    .nav-item:hover,
    .logCad a:hover {
        cursor: pointer;
    }
    .logCad a {
        margin-bottom: .5rem
    }
    .logCad strong {
        visibility: hidden;
    }
    .dropdown-menu {
        position: absolute
    }
}

.cadastro {
    font-size: 22px;
    color: white;
    border-radius: 100px;
}

.cadastro:hover {
    color: orange;
    text-decoration: none;
}

.collapse.show,
.collapsing {
    background-color: white;
    text-align: left;
}

.collapse:not(.show) {
    background-color: none
}