.nav-link {
    font-size: 20px;
    margin: 1rem;

}

.nav-brand {
    height: auto;
}

.navbar{
    border-bottom: #7006BC solid 3px;
    height: 80px;
}

#navlogo {
    width: 10%;
    min-width: 140px;
    position: absolute;
    left: 45%;
    top: 10px;
}