    .formPost {
        display: inline-block;
    }
    
    .formPost input {
        width: 90%;
        margin-bottom: 0
    }
    
    #previewBotao {
        margin-top: 1em
    }
    
    .txtLabel,
    .aviso {
        display: inline-block
    }
    
    .content {
        width: 80%;
        margin: 0 auto;
    }
    
    .formTtl {
        margin-bottom: 2em;
    }
    
    .botaobuscar {
        width: 100%
    }
    
    .enviar {
        margin: 2em 0;
    }
    
    .linkimg {
        margin: 5%;
    }
    
    #previewImagem img {
        width: 11em;
        height: 11em;
        object-fit: cover;
        object-position: center;
    }
    
    #previewImagem {
        width: 11em;
        height: 11em;
        overflow: hidden;
        display: inline-block;
        border-radius: 10px;
    }
    
    h1 {
        color: orange;
        text-align: center;
        padding: 1rem 0;
        font-family: 'Noticia Text', serif;
        margin-bottom: 1em;
    }
    
    textarea {
        max-height: 239px;
    }