/*body*/

@import "./Styles/css/bootstrap.min.css";
body {
    margin-top: 11%;
}


/*scrollbar*/

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 8px;
    margin-right: 2%;
    background: #F4F4F4;
    z-index: 1;
}

::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 22px
}


/*botões*/

.botaobuscar {
    border-radius: 30px;
    border: 1px solid #7006BC;
    color: #7006BC;
    font-size: 18px;
}

.botaobuscar:hover {
    border-radius: 30px;
    border-color: #7006BC;
    color: white;
    background-color: #7006BC;
}

.botaobuscarbranco {
    border-radius: 30px;
    border-color: orange;
    color: orange;
    background-color: #7006BC;
    font-size: 25px;
    width: 40%;
    margin: 1rem;
    transition-delay: 20ms;
}

.botaobuscarbranco:hover {
    background-color: orange;
    color: #7006BC;
}

.botaobuscarbranco:active {
    color: #7006BC;
    background-color: #c583f3;
    box-shadow: none;
    border: #7006BC 1px solid
}


/*texto*/

strong {
    color: orange;
}


/*input*/

input {
    border: none;
    border-bottom: #6B3EB8 2px solid;
    font-size: 20px;
    color: orange;
    display: inline-block;
    width: 100%;
    margin-bottom: 2em;
    border-radius: 0px;
}

input:focus{
    outline: none
}

label {
    display: inline-block;
    font-size: 25px;
    color: #6B3EB8;
    margin-bottom: 0;
}

textarea {
    width: 90%;
    vertical-align: top;
    border: #6B3EB8 2px solid;
    font-size: 20px;
    color: orange;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
    height: 200px;
}