<div>
    <div *ngFor="let item of comunidade">
        <div class="card">
            <p>Id comunidade: {{item.idComunidade}}</p>
            <p class="card-title">Nome: {{item.nome}}</p>
            <p>Criador da Comunidade: {{item.usuario?.nome}}</p>
            <p>Categoria: {{item.categoria?.nome}}</p>
        </div>
        <div class="botoesAlteracoes">
            <button class="col-6 botaobuscar" [routerLink]="['/homeusuario/comunidadeUpdate', item.idComunidade]" *ngIf="item?.usuario?.idUsuario == userId || userName == 'adminMaster'">Alterar</button>
            <button class="col-6 botaobuscar" [routerLink]="['/homeusuario/comunidadeDelete', item.idComunidade]" *ngIf="item?.usuario?.idUsuario == userId || userName == 'adminMaster'">Deletar</button>
        </div>
    </div>
</div>