<div class="all" style="text-align: center">
    <hr><br>
    <div *ngIf="post != null">
        <div class="conteudo" *ngFor="let item of post.slice().reverse()">
            <div class="numero" *ngIf="post != null">
                <p>{{item.idPostagem}} de {{post.length}}</p>
            </div>
            <div class="ttl">
                {{item.titulo}}
                {{item?.usuario.nome}}
                <p>{{item.dataInclusao}}</p>
            </div>
            <img class="postimg" src="{{item.linkimg}}" />
            <div class="content">
                {{item.texto}}
            </div>
            <div *ngFor="let item of item.comentario">
                <p>{{item.usuario?.nome}}</p>
                <p>{{item.texto}}</p>
            </div>
            <div></div>
        </div>
    </div>
</div>