
img {
    width: 20%;
    background-color: #2c2c2c;
    height: 20%;
    overflow: hidden;
    
}

.content {
    font-size: 30px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    padding: 1rem 0;
}

.conteudo {
    width: 85%;
    margin: 0 auto;
    margin-top: 1em;
    height: 21rem;
}

.numero {
    float: right;
}

.all {
    background-color: #ffffff
}

.comentarios{
    overflow: auto;
    height: 14rem;
}

.novocomentario{
    vertical-align: bottom;
}

.textocomentario{
    margin-bottom: 1rem;
    margin-top: 2rem
}
