/* .imagemPost {
    width: 11em;
    height: 11em;
    overflow: hidden;
    margin-right: 1em;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
} */


/* .imagemPost,
.ttl {
    display: inline-block;
}

.ttl {
    width: 70%;
    font-size: 3em;
    vertical-align: top;
    text-align: left;
} */


/* .maisInfo {
    display: inline-block;
    width: 70%;
}

.imagemPost img {
    width: 11em;
    height: 11em;
    object-fit: cover;
    object-position: center;
} */

.content {
    font-size: 30px;
    padding: 1rem 0;
}

input {
    border: rgb(215, 207, 230) 2px solid;
    font-size: 20px;
    color: orange;
    display: inline-block;
    width: 100%;
    padding: 0 1rem;
    border-radius: 20px;
}

.procurar {
    width: 15%;
    display: inline-block;
    margin: 0 1rem;
    padding: 1rem
}

h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Noticia Text', serif;
    color: #6B3EB8
}


/*post list config*/

.conteudo {
    padding: 1em;
    border: solid 1px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
}

.imagemPost {
    width: 11em;
    height: 11em;
    overflow: hidden;
    margin-bottom: 1em;
    display: inline-block;
    vertical-align: top;
    border-radius: 10px;
}

.imagemPost img {
    width: 11em;
    height: 11em;
    object-fit: cover;
    object-position: center;
}

.titulo {
    display: inline-block;
    text-align: left;
}

.titulo h2 {
    word-wrap: break-word;
    height: 4em;
}

.titulo h2::first-letter {
    text-transform: uppercase;
}

h2,
.numero {
    display: inline-block;
    margin-bottom: 0;
    height: min-content;
}

.rodape {
    text-align: end;
    margin-top: 1em;
}

.basettl {
    margin-bottom: 0;
    display: block;
}

.texto {
    text-align: justify;
    padding: 0 1em;
    font-size: 25px;
}

.informacoes {
    padding: 0;
}

.caixa {
    margin: 3rem;
    margin-top: none;
}

.novoComentario {
    height: min-content;
    margin-top: 1em;
}

.novoComentario input {
    margin-bottom: 0;
}

.novoComentario button {
    position: relative;
    left: 48.3%;
    bottom: 2.1rem;
    border-radius: 20px;
}

.lista .card {
    margin: 1em 0;
    padding: 1em;
}

cite {
    text-align: right;
    color: orange;
}

q {
    text-align: left;
    font-size: 22px;
}