<div>
    <div *ngFor="let item of usuario">
        <div class="card">
            <p class="card-title">Nome: {{item.nome}}</p>
            <p *ngIf="item.post != null">Quantidade de projetos: {{item.post.length}}</p>
        </div>
        <div class="botoesAlteracoes">
            <button class="col-6 botaobuscar" [routerLink]="['/homeusuario/usuarioUpdate', item.idUsuario]" *ngIf="item?.idUsuario == userId || userName == 'adminMaster'">Alterar</button>
            <button class="col-6 botaobuscar" [routerLink]="['/homeusuario/usuarioDelete', item.idUsuario]" *ngIf="item?.idUsuario == userId || userName == 'adminMaster'">Deletar</button>
        </div>
    </div>
</div>