.content {
    width: 80%;
    margin: 2em auto;
}

input {
    border: none;
    border-bottom: #6B3EB8 2px solid;
    font-size: 20px;
    color: orange;
    display: inline-block;
    width: 100%;
    margin-bottom: 1em;
}

.row {
    padding: 1em;
    border: gray solid 1px;
    margin: 2em 0;
    font-size: 21px;
    border-radius: 2%
}

.nav-pills {
    border-right: gray solid 1px;
}

.nav-link {
    margin-right: 1em;
    color: #6B3EB8;
}

.nav-link:hover {
    color: orange;
}

.col-4,
.col-8 {
    padding: 0;
}

.tab-content {
    padding: 1em 0 1em 1em;
    text-align: justify;
}

h1 {
    font-size: 25px;
    text-align: center;
    color: #6B3EB8;
    border: orange solid 2px;
    padding: 1rem;
}

.formulario {
    margin: 1em 0;
}

label {
    display: inline-block;
    font-size: 20px;
    color: #6B3EB8;
    margin-bottom: 0;
}

.botaobuscar {
    padding: 0 10%;
    margin: 1em;
}

.erro {
    font-size: 18px;
    margin: 5px;
    color: rgb(189, 4, 4);
    font-weight: bold;
}