<div class="content">

    <div class="row contorno">
        <div class="col-4 perguntas">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-resp1" role="tab" aria-controls="v-pills-home" aria-selected="true">O que é a Id.A?</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-resp2" role="tab" aria-controls="v-pills-profile" aria-selected="false">Como faço para criar uma conta no id.a?</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-resp3" role="tab" aria-controls="v-pills-messages" aria-selected="false">Esqueci minha senha</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp4" role="tab" aria-controls="v-pills-settings" aria-selected="false">Como faço para encontrar novos projetos?</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp5" role="tab" aria-controls="v-pills-settings" aria-selected="false">Como funciona o pagamento dos serviços?</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp6" role="tab" aria-controls="v-pills-settings" aria-selected="false">Quero excluir minha conta, como faço?</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp7" role="tab" aria-controls="v-pills-settings" aria-selected="false">Alterando meu email</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp8" role="tab" aria-controls="v-pills-settings" aria-selected="false">Alterando minha senha</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp9" role="tab" aria-controls="v-pills-settings" aria-selected="false">Comunicação com os parceiros de projeto</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp10" role="tab" aria-controls="v-pills-settings" aria-selected="false">Quanto custa usar o id.a?</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp11" role="tab" aria-controls="v-pills-settings" aria-selected="false">Posso publicar mais de um projeto?</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp12" role="tab" aria-controls="v-pills-settings" aria-selected="false">O site apresenta algum erro?</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp13" role="tab" aria-controls="v-pills-settings" aria-selected="false">Não encontrou resposta para o seu
                    problema?</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-resp14" role="tab" aria-controls="v-pills-settings" aria-selected="false">Guia para iniciantes.</a>
            </div>
        </div>
        <div class="col-8 respostas">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-resp1" role="tabpanel" aria-labelledby="v-pills-home-tab">Somos uma empresa que visa a criação de projetos a partir da cooperação e compartilhamento de habilidades.</div>
                <div class="tab-pane fade" id="v-pills-resp2" role="tabpanel" aria-labelledby="v-pills-profile-tab">1. Vá até a aba de Cadastro<br> 2. Preencha as informações requeridas<br> 3. Clique em cadastrar<br> 4. Acesse seu email para confirmação de cadastro.<br><br> *Caso você não receba o email de confirmação de cadastro, entre em contato conosco:
                    conecte.id.a@gmail.com
                </div>
                <div class="tab-pane fade" id="v-pills-resp3" role="tabpanel" aria-labelledby="v-pills-messages-tab">Na tela de login, vá até a opção ESQUECI MINHA SENHA, insira o email ou telefone informado no momento do cadastrado e em seguida você receberá um link para redefinição de senha. Clique no link, e em seguida será redirecionado para uma
                    tela onde você poderá definir uma nova senha
                </div>
                <div class="tab-pane fade" id="v-pills-resp4" role="tabpanel" aria-labelledby="v-pills-settings-tab">Na aba de projetos, clique em “BUSCAR PROJETOS”<br> Coloque os parâmetros da sua busca<br> Filtre os projetos da forma que achar conveniente<br> Selecione o Projeto que mais interessou<br> Clique em “ENVIAR PROSPOSTA”<br><br> *Fica a critério
                    do autor do projeto aceitar ou não a sua proposta.<br>
                </div>
                <div class="tab-pane fade" id="v-pills-resp5" role="tabpanel" aria-labelledby="v-pills-settings-tab">A id.a tem como objetivo conectar pessoas com interesses compatíveis, que podem servir de apoio para grandes projetos, mas não intermediar transação financeira ou negociação entre as partes, todos os detalhes de pagamento, valor devem
                    ser tratados entre os interessados.
                </div>
                <div class="tab-pane fade" id="v-pills-resp6" role="tabpanel" aria-labelledby="v-pills-settings-tab">No menu “MEU PERFIL” vá em “CONFIGURAÇÕES DA CONTA”<br> Vá até a opção “EXCLUIR CONTA”<br> Resposta as perguntas requeridas<br> Clique em “CONFIRMAR EXCLUSÃO DE CONTA”
                </div>
                <div class="tab-pane fade" id="v-pills-resp7" role="tabpanel" aria-labelledby="v-pills-settings-tab">1. No menu “MEU PERFIL” vá em “CONFIGURAÇÕES DA CONTA”<br> 2. Localize-se na seção "Alterar email".<br> 3. Informe o novo email e a senha atual da sua conta.<br> 4. Clique em "Confirmar".<br> 5. Acesse o seu novo email e clique no link
                    que enviamos.<br> 6. Pronto, a sua conta está configurada com o novo email.<br>
                </div>
                <div class="tab-pane fade" id="v-pills-resp8" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    1. No menu “MEU PERFIL” vá em “CONFIGURAÇÕES DA CONTA”<br> 2. Localize-se na seção "ALTERAR SENHA".<br> 3. Informe a senha atual da conta, em seguida informe a nova senha.<br> 4. Clique em "Confirmar".<br> 5. Acesse o seu email e clique
                    no link que enviamos.<br> 6. Pronto, a sua nova senha já está configurada.</div>
                <div class="tab-pane fade" id="v-pills-resp9" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    A comunicação entre os parceiros fica a critério dos envolvidos, pode ser através das mensagens direct do Id.a, Skype, email, whatsapp, como os parceiros preferirem.
                </div>
                <div class="tab-pane fade" id="v-pills-resp10" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    O uso da plataforma e de seus recursos é totalmente gratuito, tendo também a versão premium, que oferece benefícios aos usuários que optarem por ela.</div>
                <div class="tab-pane fade" id="v-pills-resp11" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Se optar pela versão gratuita é limitado a 5 projetos (em aberto) simultaneamente, caso opte pela versão Premium passa a ser ilimitado.
                </div>
                <div class="tab-pane fade" id="v-pills-resp12" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Caso o site esteja apresentando alguma mensagem de erro, ou caso tenha algum bug em alguma funcionalidade entre contato com nosso suporte nos canais de atendimento detalhando o ocorrido e se achar mais conveniente, mande fotos do erro que buscaremos soluções
                    para o problema o mais rápido possível.
                </div>
                <div class="tab-pane fade" id="v-pills-resp13" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Entre em contato conosco através dos nosso SAC ou Email: conecte.id.a@gmail.com
                </div>
                <div class="tab-pane fade" id="v-pills-resp14" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                    Projetos não permitidos<br> • Conteúdo impróprio: O conteúdo do projeto não é adequado à plataforma.<br> • Propagandas: Não permitimos nenhum tipo de propaganda.<br> • Poucos detalhes: Os parceiros precisam saber dos detalhes do projeto
                    no qual tem interesse de participar, então seja o mais especifico possível para ter um retorno o mais breve possível</div>
            </div>
        </div>
    </div>





    <div id="accordion">
        <div class="card formPergunta">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Não encontrou resposta para seu problema? Nos pergunte.
                  </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <div class="formulario">
                        <div class="informacao">
                            <label for="duvidaNome"></label>
                            <input type="text" [(ngModel)]="nome" id="duvidaNome" placeholder="Nome Completo">

                            <label for="duvidaEmail"></label>
                            <input type="text" [(ngModel)]="email" id="duvidaEmail" placeholder="Email">

                        </div>
                        <div class="texto">
                            <label for="duvidaTexto"></label>
                            <textarea [(ngModel)]="texto" id="duvidaTexto" placeholder="Dúvida"></textarea>
                        </div>
                        <div>
                            <div *ngIf="erroNome || erroEmail || erroTexto" class="erro">⚠ Por favor preencha todos os campos corretamente </div>
                            <button (click)="enviar()" class="botaobuscar botao">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>






        </div>

    </div>